<div class="container">
	<div class="row text-center" style="color:#68284B">
	    <h2><b>Sy Hung NGHIEM</b></h2>
	    <h3>Université de Technologie de Troyes</h3>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<div class="scroll-down"><a href><i class="fa fa-phone fa-3x" aria-hidden="true"></i></a></div>
			<div class="text-center infoContact">06 64 78 15 49</div>
		</div>
		<div class="col-sm-3 col-md-3">
			<div class="scroll-down"><a href><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i></a></div>
			<div class="text-center infoContact">M'ÉCRIRE</div>
		</div>
		<div class="col-sm-3 col-md-3">
			<div class="scroll-down"><a href="https://www.facebook.com/syhung.nghiem.5"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></div>
			<div class="text-center infoContact">FACEBOOK</div>
		</div>
		<div class="col-sm-3 col-md-3">
			<div class="scroll-down"><a href="https://cappuccino286.github.io/Try_Impress/"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></div>
			<div class="text-center infoContact">GITHUB</div>
		</div>
	</div>
</div>